


/**
 * Snippet from #css-snippets applied the Oct 20, 2020 at 11:10:16 AM
 * Created by .þsϵυdø.þrø×϶n#0007 (122913361460461568)
 * Snippet ID: 766784454974373889
 */
/* Compressed Search Bar */
.search-2oPWTC .searchBar-3dMhjb {width:30px;transition-duration:600ms;}
.search-2oPWTC .searchBar-3dMhjb:hover {width:260px;}
.search-2oPWTC.open-6_Y_aH .searchBar-3dMhjb {width: 260px !important;}
/** 766784454974373889 */