

/**
 * Snippet from #css-snippets applied the Oct 1, 2020 at 10:19:06 PM
 * Created by Kanin#0001 (173237945149423619)
 * Snippet ID: 761398967577083954
 */
/* Better RTC Connection popout */
.layerContainer-yqaFcK .layer-v9HyYc[style*="position: absolute; left: 100px;"] {
    left: 72px !important;
}
.container-2x5lvQ {
    width: 240px;
    box-shadow: none;
}
.layerContainer-yqaFcK .layer-v9HyYc[style*="position: absolute; left: 100px;"] .container-2x5lvQ header {
    background-color: var(--toast-header);
}
.layerContainer-yqaFcK .layer-v9HyYc[style*="position: absolute; left: 100px;"] .container-2x5lvQ section {
    background-color: var(--deprecated-panel-background);
}
.container-2x5lvQ section p:nth-of-type(1) {
    font-size: 0;
}
.container-2x5lvQ section p:nth-of-type(2) {
    display: none;
}
.container-2x5lvQ section strong {
    font-size: 14px;
    white-space: pre;
}
.container-2x5lvQ section strong::before {
    font-weight: normal;
}
.container-2x5lvQ section strong:nth-of-type(1)::before {
    content: 'Server: ';
}
.container-2x5lvQ section strong:nth-of-type(2)::before {
    content: 'Average Ping: ';
}
.container-2x5lvQ section strong:nth-of-type(3)::before {
    content: 'Last Ping: ';
}
.container-2x5lvQ section strong:nth-of-type(4)::before {
    content: 'Packet Loss: ';
}
/** 761398967577083954 */