
/**
 * Snippet from #css-snippets applied the Sep 14, 2020 at 8:38:49 PM
 * Created by MulverineX#0001 (178551656714076161)
 * Snippet ID: 755224202696458322
 */
 .profileBadgeVerifiedDeveloper-4WY75k {
    zoom: 120%;
    position: relative;
    top: -2px;
  }
  /** 755224202696458322 */

  
/**
 * Snippet from #css-snippets applied the Sep 29, 2020 at 3:06:29 PM
 * Created by AAGaming#9395 (373833473091436546)
 * Snippet ID: 758163203917479946
 */
:root .topSectionNormal-2-vo2m::after {
    background: unset;
  }
  /** 758163203917479946 */