.header-23xsNx {
  background-color: transparent !important;
}

/**
 * Snippet from #css-snippets applied the Sep 29, 2020 at 3:03:46 PM
 * Created by AAGaming#9395 (373833473091436546)
 * Snippet ID: 759137859374153829
 */
 :root .bf-badge{
  background: unset !important;
  background: transparent !important;
}
/** 759137859374153829 */
