/**
 * Snippet from #css-snippets applied the Sep 15, 2020 at 8:59:16 PM
 * Created by Tropical#4355 (254362351170617345)
 * Snippet ID: 755559186598985889
 */
 .theme-dark {
    --linkpreview-background:#35363a;
    --linkpreview-color:#e8eaed;
    --linkpreview-border:#2f3033;
}
.theme-light {
    --linkpreview-background:#dee1e6;
    --linkpreview-color:#3c4043;
    --linkpreview-border:transparent;
}
.markup-2BOw-j .anchor-3Z-8Bb:after {
    content:attr(href);
    display:flex;
    align-items:center;
    z-index:999999999999999999999999999999;
    background:var(--linkpreview-background);
    line-height:normal;
    font-weight:normal;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
    color:var(--linkpreview-color);
    font-size:12px;
    padding:3px 4px;
    padding-right:6px;
    position:fixed;
    bottom:0;
    left:0;
    opacity:0;
    transition:200ms ease;
    white-space:nowrap;
    box-shadow:inset 0 0 0 1px var(--linkpreview-border);
    border-top-right-radius:3px;
    pointer-events:none;
}
.markup-2BOw-j .anchor-3Z-8Bb:hover:after {
    opacity:1;
}
.base-gE7OpD {
    z-index:-1;
}
/** 755559186598985889 */