
/**
 * Snippet from #css-snippets applied the Sep 18, 2020 at 1:51:20 PM
 * Created by DanKGooGLy#1337 (348918040248713217)
 * Snippet ID: 755403664847536198
 */
/*Minifiedmemberlist*/
:root {
    --hover-animation-speed: 0.35s;
    --seperator-color: var(--background-accent);
 }
 
 .membersWrap-2h-GB4 {
    min-width: unset;
    width: 50px;
    justify-content: right;
 }
 
 .members-1998pB {
    transition: transform var(--hover-animation-speed);
 }
 
 .membersWrap-2h-GB4:hover .members-1998pB {
    transform: translateX(-190px);
 }
 
 .membersWrap-2h-GB4 .membersGroup-v9BXpm::after {
    content: '';
    width: 30px;
    height: 2px;
    border-radius: 50px;
    background: unset;
    background-color: var(--seperator-color);
    position: absolute;
    left: -36px;
    top: 29px;
    margin-left: 0px;
 }
 
 .membersWrap-2h-GB4 .members-1998pB .member-3-YXUe {
    background-color: unset;
    margin-left: 0px;
    transition: margin-left var(--hover-animation-speed);
 }
 
 .membersWrap-2h-GB4:hover .members-1998pB .member-3-YXUe {
    margin-left: 8px;
 }
 
 .membersWrap-2h-GB4:hover .membersGroup-v9BXpm {
    transform: translateX(-6px);
 }
 
 .membersWrap-2h-GB4 .membersGroup-v9BXpm {
    cursor: default;
    transform: translateX(45px);
    transition: transform var(--hover-animation-speed);
    overflow: visible;
 }
 /** 755403664847536198 */